.searchbar {
  background-color: #27282f;
  margin-top: 20px;
  width: 90%;
  height: 2.5rem;
  border: 2px solid #3a3d45;
  border-radius: 6px;
  margin-bottom: 20px;
}

.searchbar-input{
  margin-top: 10px;
  border: none;
  background-color: #27282f;
  color: #9d9ea2;
  font-size: 16px;
  margin-left: 5px;
}

.searchbar-input::placeholder {
  color: #9d9ea2;
}

.searchbar-input:focus{
  outline: none;
}

.searchbar-icon {
  color: #b5b6bd;
  margin-left: 10px;
}